header, footer {
    background-color: black;
    color: white;
    left: 0px;
    position: fixed;
    right: 0px;
    text-align: center;
    z-index: 1;
    text-decoration: none;
}

header {
    font-size: 30px;
    height: 150px;
    top: 0px;
}

footer {
    bottom: 0px;
    padding: 10px;
}

nav {
    background-color: #eeeeee;
    font-size: 20px;
    height: 100%;
    left: 0px;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 150px;
    width: 200px;
    z-index: 1;
}

ul#menu li a, .fakeLink {
    background-color: black;
    border-radius: 5px 0px 0px 5px;
    border: 0px none;
    color: white;
    font-family: verdana;
    font-size: 20px;
    padding: 10px 20px;
    position: absolute;
    right: 0px;
    text-decoration: none;
    width: 200px;
}

ul#menu li a:hover, .fakeLink:hover {
    background-color: orange;
}

article {
    font-size: 20px;
    margin: 150px 10px 35px 200px;
    padding: 10px;
    position: relative;
    text-align: center;
}

.fakeLink {
    cursor: pointer;
    width: 250px;
}

.asterisk {
    color: #ff0000;
}

.time {
    color: grey;
    font-family: courier;
    font-size: 15px;
}

.oneImage {
    height: 765px;
}

figcaption {
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: initial;
    width: 500px;
    word-break: break-all;
}

.left, .right {
    display: inline-block;
    vertical-align: top;
}

.input {
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    box-shadow: none;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    width: 300px;
}

.left {
    font-size: 25px;
    line-height: 55px;
    text-align: left;

}

.click {
    border-radius: 100px;
    font-family: verdana;
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
}

.homeLink{
    text-decoration: none;
    color:white;
}

.name{
    text-decoration: none;
    color:steelblue;
    font:bold;
}